<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="e-wallet">E-wallet</div>
    <h1 class="header">Report</h1>

    <div class="w-100">
        <table class="w-100 no-border">
            <tr class="no-border">
                <td class="no-border">First name: {{ user.first_name }}</td>
                <td class="no-border">Last name: {{ user.last_name }}</td>
            </tr>
            <tr class="no-border">
                <td class="no-border">Location: {{ user.address }}, {{ user.city.name }}, {{ user.country.name }}</td>
                <td class="no-border">E-Mail: {{ user.email }}</td>
            </tr>
            <tr class="no-border">
                <td class="no-border"></td>
                <td class="no-border"></td>
            </tr>
            <tr class="no-border">
                <td class="no-border">Date of report: {{ report_date }}</td>
                <td class="no-border">Items/Bills: {{ items }}</td>
            </tr>
            <tr class="no-border">
                <td class="no-border">Currency: {{ currencies }}</td>
                <td class="no-border"></td>
            </tr>
        </table>
    </div>
    <div class="m-bottom20 w-100"></div>
    <table class="w-100">
        <thead>
            <tr class="text-align-left">
                <td style="width: 20px">No.</td>
                <td style="width: 50px">Type</td>
                <td style="width: 160px">Date</td>
                <td style="width: 160px">Title</td>
                <td style="width: 70px">Category</td>
                <td style="width: 70px">Subcategory</td>
                <td style="width: 50px">Curr.</td>
                <td style="width: 70px">Price</td>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
                <tr>
                    <td> {{ bill.sequence }} </td>
                    <td> {{ bill.bill_type }} </td>
                    <td> {{ bill.created }} </td>
                    <td> {{ bill.title }} </td>
                    <td> {{ bill.bill_category.name }} </td>
                    <td> {{ bill.bill_sub_category.name }} </td>
                    <td> {{ bill.currency.code }} </td>
                    <td> {{ bill.price }} </td>
                </tr>
            {% endfor %}
            <!--tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td> Summ: </td>
                <td> {{ summ }} </td>
            </tr-->
        </tbody>
    </table>
    <br/>
    <table class="w-100 no-border">
        <thead>
            <tr>
                <!--td class="no-border text-align-right" style="width: 590px"></td-->
                <td colspan="2" class="text-align-center">TOTAL</td>
            </tr>
        </thead>
        <tbody>
            {% for s in summ %}
                <tr>
                    <td style="width: 50%"> {{ s.currency }} </td>
                    <td style="width: 50%"> {{ s.summ }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--table class="w-100 no-border">
        <thead>
            <tr>
                <td class="no-border text-align-right" style="width: 670px"></td>
                <td style="width: 50px">Curr.</td>
                <td style="width: 70px">Summ</td>
            </tr>
        </thead>
        <tbody>
            {% for s in summ %}
                <tr>
                    <td class="no-border"></td>
                    <td> {{ s.currency }} </td>
                    <td> {{ s.summ }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table-->
</body>
</html>
